$lightGreen: #b9e7e7;

.app {
  display: flex;
  justify-content: center;

  .container {
    width: 1024px;
    // LOGIN & Register

    .link {
      text-decoration: none;
      color: inherit;
    }

    .auth {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: $lightGreen;

      h1 {
        margin-bottom: 20px;
        color: Black;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: white;
        width: 200px;
        gap: 20px;
      }

      input {
        padding: 10px;
        border: none;
        border-bottom: 1px solid gray;
      }
      button {
        padding: 10px;
        border: none;
        color: white;
        background-color: teal;
        cursor: pointer;
      }

      span {
        font-size: 12px;
        text-align: center;
      }

      p {
        font-size: 12px;
        color: red;
        text-align: center;
      }
    }

    // NavBar

    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
          img {
            width: 120px;
          }
        }

        .links {
          display: flex;
          align-items: center;
          gap: 10px;

          h6 {
            font-size: 16px;
            font-weight: 300;
          }

          span {
            cursor: pointer;
          }
          .write {
            background-color: $lightGreen;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid white;

            &:hover {
              background-color: white;
              color: teal;
              border: 1px solid teal;
            }
          }
        }
      }
    }

    //FOOTER
    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $lightGreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;

      img {
        height: 50px;
      }
    }

    // HOME

    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 100px;

          &:nth-child(2n+1){
            flex-direction: row-reverse;
          }

          .img {
            flex: 2;
            position: relative;

            &::after{
              content: "";
              width: 100%;
              height: 100%;
              background-color: $lightGreen;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
            }

            img {
              width: 100%;
              max-height: 400px;
              object-fit: cover;
            }
          }
          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1{
              font-style: 48px;
            }

            p{
              font-style: 18px;
            }

            button{
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: white;
              border: 1px solid teal;
              color: teal;

              &:hover{
                background-color: $lightGreen;
                color: black;
                border: 1px solid white;
              }
            }
          }
        }
      }
    }


    // SINGLE POST
    .single{
      display: flex;
      gap: 50px;

      .content{
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img{
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-style: 14px;
          img{
            width:50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span{
            font-weight: bold;
          }
        }

        .edit{
          display: flex;
          gap: 5px;

          img{
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        h1{
          color: #333;
          font-style: 42px;
        }

        p{
          text-align: justify;
          line-height: 30px;
        }

      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1{
          font-style: 20px;
          color: #555
        }
        .post{ 
          display: flex;
          gap: 10px;
          flex-direction: column;

          img{
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          h2{
            color: #555;
          }

          button{
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: teal;
            background-color: white;
            border : 1px solid teal;

            &:hover {
              border: 1px solid white;
              background-color: $lightGreen;
              color: black;
            }
          }
        }
      }
    }


    // WRITE CONTENT

    .write{
      
    }
  }
}
