$lightGreen : #b9e7e7;


.app{

  .container{
  // LOGIN & Register

    .auth{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh; 
      background-color: $lightGreen;

      h1{
        margin-bottom: 20px;
        color : Black;
        margin-bottom: 20px;
      }

      form{
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: white;
        width: 200px;
        gap: 20px;
      }

        input{
          padding: 10px;
          border:none;
          border-bottom: 1px solid gray;
      }
      button {
        padding: 10px;
        border: none;
        color : white;
        background-color: teal;
        cursor: pointer;
      }
  }

}

}