$lightGreen : #b9e7e7;


.app{
  display: flex;
  justify-content: center;

  .container{
    width: 1024px;
  // LOGIN & Register

  .link{
    text-decoration: none;
    color: inherit;
  }

    .auth{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh; 
      background-color: $lightGreen;

      h1{
        margin-bottom: 20px;
        color : Black;
        margin-bottom: 20px;
      }

      form{
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: white;
        width: 200px;
        gap: 20px;
      }

        input{
          padding: 10px;
          border:none;
          border-bottom: 1px solid gray;
      }
      button {
        padding: 10px;
        border: none;
        color : white;
        background-color: teal;
        cursor: pointer;
      }

      span{
        font-size: 12px;
        text-align: center;
      }

      p{
        font-size: 12px;
        color: red;
        text-align: center;
      }
  }


  // NavBar

  .navbar{
    .container{
      padding: 10px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo{
        img{
          width: 120px
        }
      }

      .links{
        display: flex;
        align-items: center;
        gap: 10px;

        h6{
          font-size: 16px;
          font-weight: 300;
        }


        span{
          cursor: pointer;
        }
        .write{
          background-color: $lightGreen;
          width: 50px;
          height:50px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 300;
          border: 1px solid white;

          &:hover{
            background-color: white;
            color: teal;
            border: 1px solid teal;
          }
        }
      }
    }
  }
}

}